#prod_header {
  margin-bottom: 10px;
}

#prod_main {
  display: grid;
  min-height: 80vh;
}

#top_type {
  display: grid;
  padding-left: 10px;
  background-color: rgb(24, 24, 24);
}
#top_type > h4 {
  color: aliceblue;
  padding: 16px;
}
#top_type * {
  font-size: 1.5rem;
  margin-bottom: 14px;
  margin-left: 10px;
}
#top_type > p {
  color: rgb(230, 230, 230);
  padding-bottom: 20px;
}

#combos_spec {
  display: grid;
  padding-left: 10px;
  background-color: rgb(24, 24, 24);
}
#combos_spec > h4 {
  color: white;
  padding: 16px;
}
#combos_spec > h2 {
  color: orangered;
}
#combos_spec * {
  font-size: 1.5rem;
  margin-bottom: 14px;
  margin-left: 10px;
}
#combos_spec > p {
  color: rgb(230, 230, 230);
  padding-bottom: 20px;
}

#links {
  place-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: rgb(24, 24, 24);
}
#links > a {
  text-decoration: none;
  color: rgb(20, 20, 20);
  border-style: solid;
  border-width: 1.5px;
  border-radius: 20px;
  padding: 10px;
  background-color: white;
}

#pizzas_prod {
  display: grid;
  margin-left: 20px;
}
#pizzas_prod > h4 {
  color: orangered;
  padding: 16px;
}
#pizzas_prod * {
  font-size: 1.5rem;
  margin-bottom: 14px;
  margin-left: 10px;
}
#pizzas_prod > p {
  color: rgb(230, 230, 230);
  padding-bottom: 20px;
}

#expanded_topings {
  display: grid;
  margin-left: 20px;
}
#expanded_topings > h4 {
  color: orangered;
  padding: 16px;
}
#expanded_topings > div * {
  font-size: 1.5rem;
  margin-bottom: 14px;
  margin-left: 10px;
}
#expanded_topings > div > p {
  color: rgb(230, 230, 230);
  padding-bottom: 20px;
}

#top_type {
  display: grid;
  background-color: rgb(24, 24, 24);
}

#toppings_prod {
  display: grid;
  margin-left: 20px;
}
#toppings_prod > h4 {
  color: orangered;
  padding: 16px;
}
#toppings_prod * {
  font-size: 1.5rem;
  margin-bottom: 14px;
  margin-left: 10px;
}
#toppings_prod > p {
  color: rgb(230, 230, 230);
  padding-bottom: 20px;
}

#pizza_types {
  display: grid;
  margin-left: 20px;
}
#pizza_types > h4 {
  color: orangered;
  padding: 16px;
}
#pizza_types > h6 {
  font-size: 1.2rem;
  color: orangered;
}
#pizza_types * {
  font-size: 1.5rem;
  margin-bottom: 14px;
}
#pizza_types > p {
  color: rgb(230, 230, 230);
  padding-bottom: 20px;
}

#tcombos_art {
  display: grid;
  margin-left: 20px;
}
#tcombos_art > h4 {
  color: orangered;
  padding: 16px;
}
#tcombos_art > div * {
  font-size: 1.5rem;
  margin-bottom: 14px;
}
#tcombos_art > div > p {
  color: rgb(230, 230, 230);
  padding-bottom: 20px;
}

#Combos_art {
  display: grid;
  margin-left: 20px;
}
#Combos_art > h4 {
  color: orangered;
  padding: 16px;
}
#Combos_art > div * {
  font-size: 1.5rem;
  margin-bottom: 14px;
}
#Combos_art > div > p {
  color: rgb(230, 230, 230);
  padding-bottom: 20px;
}

#specialty_chick {
  display: grid;
  margin-left: 20px;
}
#specialty_chick > h4 {
  color: orangered;
  padding: 16px;
}
#specialty_chick > h6 {
  color: orangered;
  font-size: 1.2rem;
}
#specialty_chick * {
  font-size: 1.5rem;
  margin-bottom: 14px;
}
#specialty_chick > p {
  color: rgb(230, 230, 230);
  padding-bottom: 20px;
}

#salads {
  display: grid;
  margin-left: 20px;
}
#salads > h2 {
  color: orangered;
  padding-left: 20px;
}
#salads > div * {
  font-size: 1.5rem;
  margin-bottom: 14px;
}
#salads > div > p {
  color: rgb(230, 230, 230);
  padding-bottom: 20px;
}
#salads > div > h4 {
  color: orangered;
}

#wings {
  display: grid;
  margin-left: 20px;
}
#wings > h2 {
  color: orangered;
  padding-left: 20px;
}
#wings > div * {
  font-size: 1.5rem;
  margin-bottom: 14px;
}
#wings > div > p {
  color: rgb(230, 230, 230);
  padding-bottom: 20px;
}
#wings > div > h4 {
  color: orangered;
}

#bevies {
  display: grid;
  margin-left: 20px;
}
#bevies > h4 {
  color: orangered;
  padding: 16px;
}
#bevies > div * {
  font-size: 1.5rem;
  margin-bottom: 14px;
}
#bevies > div > p {
  color: rgb(230, 230, 230);
  padding-bottom: 20px;
}

/*# sourceMappingURL=products_page.css.map */
