#aboutus_main{
display: grid;
min-height: 80vh;
    >section{
    display: grid;
    place-items: center;
    text-align: center;
    background-color: darkgrey;
}
}
#aboutus_header{
    margin-bottom: 10px;
}