body {
    display: grid;
    align-items: start;
}

#welcome {
    display: grid;

    >#info_par {
        >h6{
            font-size: 1rem;
        }
        >h2{
            font-size: 1.9rem;
        }
        >#phone_number {
            display: grid;
            grid-template-columns: 10% 90%;
            place-items: center;
            justify-items: start;
        }

        >#ping_loc {
            display: grid;
            grid-template-columns: 10% 90%;
            place-items: center;
            justify-items: start;
        }
    }
}