body {
    display: grid;
    align-items: start;
    min-height: 80vh;
}

#welcome {
    display: grid;
    margin-left: 20px;

    >* {
        padding-bottom: 22px;
    }

    >#info_par {
        >h6 {
            font-size: 1.5rem;
            padding-bottom: 20px;
        }

        >h2 {
            font-size: 1.9rem;
            padding-bottom: 20px;
        }

        >#phone_number {
            display: grid;
            grid-template-columns: 10% 90%;
            place-items: center;
            justify-items: start;
            padding-bottom: 20px;
        }

        >#ping_loc {
            display: grid;
            grid-template-columns: 10% 90%;
            place-items: center;
            justify-items: start;
        }
    }

    >#links {
        place-items: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        >a {
            text-decoration: none;
            color: rgb(0, 0, 0);
            border-style: solid;
            border-width: 1.5px;
            border-radius: 20px;
            padding: 10px;
        }
    }
}

#tbd_img {
    display: grid;
    place-items: center;

    >#filler_img {
        border-radius: 30px;
        width: 80%;
        height: 350px;
        object-fit: cover;
    }
}

#more_inf {
    display: grid;
    font-size: 0.7rem;
    text-align: center;
}

#pizzamenu_header {
    display: grid;
    padding-top: 60px;
    background-color: black;
    place-items: center;

    img {
        width: 100%;
        height: 350px;
    }

    >#menu_name {
        transform: translate(0px, -100px);
        font-size: 2rem;
        color: rgb(0, 0, 0);
    }
}
#pizza_menu {
    display: grid;
    background-color: black;
    width: 100%;
    place-items: center;
    * {
        margin: 15px;
        margin-left: 40px;
        margin-right: 40px;
    }
    >#fullpic_piz {
        height: 300px;
        width: 100%;
        margin-top: 40px;
        object-fit: cover;
    }
    >article {
        background-color: aliceblue;
        display: grid;
        text-align: left;
        animation: moveaway ease-in 1500ms forwards;
        >img {
            width: 350px;
            height: 250px;
            padding-top: 10px;
            object-fit: cover;
        }
    }
}
#specialties {
    display: grid;
    background-color: rgb(24, 24, 24);
    color: aliceblue;
    >article {
        >h2 {
            color: rgb(226, 67, 4);
            padding: 16px;
        }
    }
}
#salads {
    >div {
        * {
            font-size: 1.5rem;
            margin-bottom: 14px;
            margin-left: 10px;
        }

        >p {
            color: rgb(99, 99, 99);
            padding-bottom: 20px;
        }
    }
}
#wings {
    >div {
        * {
            font-size: 1.5rem;
            margin-bottom: 14px;
            margin-left: 10px;
        }
        >p {
            color: rgb(99, 99, 99);
            padding-bottom: 20px;
        }
    }
}
#Great_Pizza {
    display: grid;
    background-color: rgb(228, 53, 0);
    color: white;
    * {
        padding-bottom: 20px;
    }
    >#gp_para {
        transform: translate(0px, -150px);
        display: grid;
        background-color: aliceblue;
        color: black;
        place-items: center;
        margin: 40px;
        font-size: 1.5rem;
        padding: 20px;
        >p {
            font-size: 1.2rem;
            text-align: center;
        }
    }
}
#menu_main {
    display: grid;

    >#pizza_sizes {
        display: grid;
        margin-left: 20px;
        font-size: 1.5rem;
        transform: translate(0px, -150px);
        grid-template-columns: 1fr 1fr;
    }
    >#Specialty {
        margin-left: 20px;
        font-size: 1.5rem;
        transform: translate(0px, -150px);
        >p {
            color: rgb(153, 151, 151);
        }
        >h2 {
            text-decoration: underline;
            color: black;
        }
    }
    >#menusizes_title {
        margin-left: 20px;
        transform: translate(0px, -150px);
        text-decoration: underline;
        color: black;
        font-size: 2rem;
    }
}
#gp_background {
    background-image: url(/images/gp_background.jpeg);
    height: 200px;
}
#story_sec {
    display: grid;
    margin-left: 20px;
    place-items: center;
    text-align: center;
    * {
        padding: 20px;
    }
}
#aboutus_img {
    height: 400px;
    width: 400px;
    border-radius: 50px;
    object-fit: cover;
}
#information {
    display: grid;
    place-items: center;
    text-align: center;
    margin-top: 20px;
    background-image: url(/images/info_background.jpeg);
    * {
        padding: 10px;
        margin-top: 30px;
        font-size: 1.5rem;
        display: grid;
        margin: 20px;
        background-color: aliceblue;
        width: 80%;
    }
}
@media screen and (min-width: 750px) {
    * {
        font-size: 1.5rem;
    }
    #tbd_img {
        >#filler_img {
            height: 600px;
        }
    }
    #fullpic_piz {
        height: 800px;
    }
    #pizza_menu {
        grid-template-columns: 1fr 1fr;
    }
    #specialties {
        grid-template-columns: 1fr 1fr;
    }
    #pizza_sizes {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    #story_sec {
        grid-template-columns: 1fr 1fr;
    }
    #information {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (min-width: 1000px) {
    header {
        grid-template-columns: 1fr 1fr;
    }
    #welcome {
        grid-template-columns: 1fr 1fr;
    }
}