#conpage{
    display: grid;
    min-height: 80vh;
    text-align: center;
    >div{
        display: grid;
        grid-template-columns: 10% 90%;
        place-items: center;
    }
}
#links {
    place-items: center;
display: grid;
grid-template-columns: 1fr 1fr 1fr;

>a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    border-style: solid;
    border-width: 1.5px;
    border-radius: 20px;
    padding: 10px;

}}
#contact_hours{
    display: grid;
    margin-top: 30px;
    margin-bottom: 30px;
    >p{
        line-height: 40px;
    }
}
#google_maps{
    display: grid;
    place-items: center;
    >iframe{
        width: 300px;
        height: 300px;
        align-self: center;
        justify-self: center;
    }
}
#hours_contact{
background-color:#ffffff;
border-color: black;
border-style: solid;
border-radius:4px;
font-size:16px;
padding:15px;
margin: 5px;
}