footer {
    display: grid;
    background-color: rgb(0, 0, 0);
    text-align: center;
    place-items: center;
    min-height: 10vh;
    color: aliceblue;
}
#media_linkslogo {
    display: grid;
    place-items: center;
}
.media_footer{
    >a{
    text-decoration: none;
    font-size: 0.8rem;
    }
}
#footer_info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 30px;
    margin-bottom: 30px;
}
#otherfooter_info {
    display: grid;
    place-items: center;
    margin-bottom: 15px;
}
.pages_foot{
    display: grid;
    >h5{
        font-size: 1rem;
        padding-bottom: 10px;
        text-decoration: underline;
    }
    >p{
        font-size: 0.7rem;
    }
    >a{
        text-decoration: none;
        color: aliceblue;
        font-size: 0.8rem;
    }
}
.services{
    display: grid;
    >h5{
        font-size: 1rem;
        padding-bottom: 10px;
        text-decoration: underline;
    }
    >p{
        font-size: 0.7rem;
    }
    >a{
        text-decoration: none;
        color: aliceblue;
        font-size: 0.8rem;
    }
}
.policies{
    display: grid;
    >h5{
        font-size: 1rem;
        padding-bottom: 10px;
        text-decoration: underline;
    }
    >p{
        font-size: 0.7rem;
    }
    >a{
        text-decoration: none;
        color: aliceblue;
        font-size: 0.8rem;
    }
}
#otherfooter_info{
    font-size: 0.5rem;
}