#topheader {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 40px;
    >p{
        font-size: 2rem;
        justify-self: start;
        padding-left: 70px;
    }
}

#mobile_header {
    min-height: 20vh;
    width: 20%;
    display: grid;
    place-items: center;
    grid-auto-flow: column;
}

#mobile_header img {
    width: 40px;
    height: 40px;
}
.menu_radio_button {
    display: none;
}
#mobile_menu {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    display: grid;
    place-items: center;
    grid-template-rows: 20vh;
    width: 30%;
    height: 100%;
    background-color: orangered;
    color: rgb(0, 0, 0);
    visibility: hidden;
    transition: all ease-in-out 0.33s;
    transform: scale(0);
    >a{
        font-size: 1.5rem;
        text-decoration: none;
        color: black;
    }
}

#menu_open:checked~#mobile_menu {
    visibility: visible;
    transform: scale(1);
    z-index: 10;
}

#menu_header {
    display: grid;
    place-items: center;
    width: 100%;
    grid-auto-flow: column;
    height: 20vh;
}

.hoverable {
    transition: all 0.3s ease-in-out;
    filter: drop-shadow(0px 0px 0px black);
}

.hoverable:hover {
    cursor: pointer;
    filter: drop-shadow(3px 3px 6px gray);
}