@use "header.scss";
@use "body.scss";
@use "footer.scss";
@use "about_page.scss";
@use "contact_page.scss";
@use "products_page.scss";
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
}
img{
    height: 30px;
    width: 30px;
}